.projname {
    position: absolute;
    color: white;
    font-size: 20px;
    width: 100%;
    padding: 15px 0px;
    text-align: center;
    margin: auto;
    bottom: 10%;
    background: teal;
}

.slidePic {
    margin: auto
}

.carousel-item {
    height: 350px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

.carousel-indicators {
    bottom: -40px;
}

#giphy {
    width:400px;
    height:275px
}

#grubPic {
    width:500px;
    height:275px
}

.colorSlide {
    background-color: darkorange
}